:root {
  --primary-color: #c778dd;
  --secondary-color: #abb2bf;
  --background-color: #282c33;
}
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  color: white;
  margin-bottom: 12px;
}
span {
  color: var(--primary-color);
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  height: 61px;
  padding: 10px 40px;
  color: #ffffff;
  left: 70px; /* Push header content to avoid overlap with social icons */
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header nav ul span {
  color: var(--primary-color);
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
  transition: all 0.3s ease;
}
nav li a:hover,
nav li .active {
  color: #fff;
  font-weight: bold;
}
main {
  position: relative;
  top: 60px;
  margin-left: 70px; /* Offset for social icons */
  padding: 100px 40px;
  max-width: 1100px;
}
.social-icons {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-icons a {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  color: #fff;
}
.social-icons::before {
  content: "";
  position: absolute;
  top: -320px; /* Adjust to set the line height */
  left: 50%; /* Center the line */
  width: 2px;
  height: 320px; /* Length of the line */
  background-color: var(--secondary-color);
  transform: translateX(-50%);
}
.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  gap: 50px;
}
.intro h4 {
  color: white;
  font-size: 32px;
  line-height: 1.5;
}
.intro p {
  font-size: 1.1rem;
  color: var(--secondary-color);
  margin-top: 10px;
}
.intro button {
  font-size: 1rem;
  color: white;
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
.img-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-description img {
  width: 350px;
}
.img-description p {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  padding: 8px 12px;
  margin: 0px;
  width: 300px;
}
.img-description p .fa-square {
  color: var(--primary-color);
}
.img-description p span {
  font-weight: bold;
  color: #ffffff;
}
.quotation-box {
  display: flex;
  justify-content: right;
  align-items: right;
  height: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
blockquote {
  position: relative;
  display: inline-block;
  max-width: 700px;
  font-size: 1.2rem;
  padding: 20px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
blockquote p {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
}
blockquote .author {
  position: absolute;
  right: 0;
  bottom: -40px;
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  font-size: 1rem;
  background-color: var(--background-color);
}
blockquote::before {
  content: " “ ";
  font-size: 3rem;
  position: absolute;
  top: -20px;
  left: 2px;
  color: var(--secondary-color);
}
blockquote footer {
  position: relative;
  text-align: right;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: lighter;
}
blockquote .author::before {
  content: " ” ";
  font-size: 3rem;
  position: absolute;
  right: 1px;
  bottom: 5px;
  color: var(--secondary-color);
}
.projects {
  max-width: 1100px;
}
.projects .title-project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 48px;
}
.projects .title-project .fa-solid {
  color: var(--primary-color);
}
.projects-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 350px;
  color: var(--secondary-color);
  font-size: 16px;
  padding: 5px;
}
.projects-card .card-box {
  border: 1px solid var(--secondary-color);
  min-width: 333px;
}
.projects-card .card-box img {
  width: 331px;
  height: 201px;
}
.projects-card .card-box p {
  padding: 5px;
  font-weight: lighter;
}
.projects-card .card-box h2 {
  padding: 5px;
}
.projects-card .card-box .btn-passive {
  color: #ffffff;
  border: 1px solid var(--secondary-color);
  padding: 5px 15px;
}
.projects-card .card-box button {
  color: #ffffff;
  border: 1px solid var(--primary-color);
  padding: 5px 15px;
  margin: 10px;
}
.projects-card .card-box .btn-passive:hover {
  color: var(--secondary-color);
  border: 1px solid white;
}
.projects-card .card-box button:hover {
  color: var(--secondary-color);
  border: 1px solid white;
  box-shadow: 1px 2px 1px #b0a2a2;
}
.skills .skill-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
.skills .skill-box .skill-card {
  max-width: 200px;
  height: auto;
}
.skills .skill-box .skill-card h3 {
  border: 1px solid var(--secondary-color);
  padding: 5px 15px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bolder;
}
.skills .skill-box .skill-card p {
  border: 1px solid var(--secondary-color);
  padding: 5px 15px;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: lighter;
}

.about-me {
  display: flex;
  color: var(--secondary-color);
  margin-top: 20px;
  gap: 20px;
}
.about-me .about {
  max-width: 40%;
  height: 400px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: lighter;
}
.about-me .image {
  max-width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.about-me .about button {
  color: #ffffff;
  border: 1px solid var(--primary-color);
  padding: 5px 15px;
  margin-top: 20px;
}

.contact-container {
  margin-top: 20px;
  color: var(--secondary-color);
}
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.contact-box {
  padding: 1rem;
  border: 1px solid #555;
  text-align: center;
}
.contact-box h4 {
  font-size: 1.2rem;
  font-weight: 800;
}
.contact-box ul li {
  list-style-type: none;
  padding: 0.5rem;
  margin: 5px 0;
}
.contact-box ul li a {
  color: var(--secondary-color);
}

.footer {
  color: #ccc;
  padding: 20px;
  text-align: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.social-icon {
  display: flex;
  gap: 15px;
  padding-top: 20px;
}
.social-icon a {
  color: #ccc;
  font-size: 20px;
}
.social-icon a:hover {
  color: white;
}
.copyright {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 80px 20px;
  }

  header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    left: 0;
  }

  .introduction {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    display: none; /* Hide social icons on smaller screens */
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    display: none; /* Hide menu by default */
    width: 100%;
    text-align: center;
  }

  nav ul.show {
    display: flex; /* Show menu when active */
  }

  .logo {
    font-size: 1.2rem;
    text-align: center;
  }

  .img-description img {
    width: 250px; /* Reduce image size */
  }

  .projects-card {
    flex-direction: column;
    gap: 20px;
  }

  .skill-box {
    flex-direction: column;
  }

  .about-me {
    flex-direction: column;
    text-align: center;
  }

  .image img {
    width: 80%; /* Scale images */
  }

  .contact-container {
    text-align: center;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-box {
    width: 100%;
  }
}

/* Tablet View (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .social-icons {
    left: 10px; /* Move social icons closer */
  }

  main {
    margin-left: 30px;
    padding: 60px 20px;
  }

  .projects-card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill-box {
    flex-wrap: wrap;
  }

  .about-me {
    gap: 30px;
  }
}
